@each $color, $value in $theme-colors {
    .pulse-#{$color} {
        display: block;
        position: absolute;
        top: 6px;
        right: 17px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        cursor: pointer;
        background: $value;
        box-shadow: 0 0 0 rgba($value, 0.9);
        animation: pulse-#{$color} 2s infinite;

        &:hover {
            animation: none;
        }
    }

    @-webkit-keyframes pulse-#{$color} {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba($value, 0.9);
        }

        70% {
            -webkit-box-shadow: 0 0 0 10px rgba($value, 0);
        }

        100% {
            -webkit-box-shadow: 0 0 0 0 rgba($value, 0);
        }
    }

    @keyframes pulse-#{$color} {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba($value, 0.9);
            box-shadow: 0 0 0 0 rgba($value, 0.7);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba($value, 0);
            box-shadow: 0 0 0 10px rgba($value, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba($value, 0);
            box-shadow: 0 0 0 0 rgba($value, 0);
        }
    }
}
